body{
  background: #fff;
}
p{
  text-align: center;
}
em strong{/* puedo combinar etiquetas nombrando al padre y al hijo  */
  color: red;
}
#mision{
  font-size: 20px;
}
banner{
  width: 100%;
}
.titulo_principal{
  padding-left: 30px;
}
.principal{
  width: 100%;
  background: #ccc;
  padding: 20px;
}
.diferenciales{
  background: #fff;
  padding: 30px;
}
.titulo_centrado{
  text-align: center;
}
.items{
  font-style: italic;
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.imagen_diferenciales{
  width: 50%;
}